a {
    color: #26c6da;
}

.card-header label.control-label {
	color: #ffffff;
}

.card-header .select-dropdown a{
	color: #000000;
}

.select-dropdown .dropdown-menu li a:hover, .select-dropdown .dropdown-menu li a:focus, .select-dropdown .dropdown-menu li a:active, .navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active {
    background-color: #26c6da;
}

.mdl-card__actions {
    padding: 0;
}

.btn.btn-icon, .btn-group-icon .btn, .navbar .navbar-nav > li > a.btn.btn-icon, .btn-group-icon .navbar .navbar-nav > li > a.btn {
    padding: 5px 10px;
    font-size: 11px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #26c6da;
    border-color: #26c6da;
}

.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
}

.modal-backdrop {
    z-index: 1;
}

.form-control, .form-group .form-control {
    background-image: linear-gradient(#26c6da, #26c6da), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused .form-control {
    background-image: linear-gradient(#26c6da, #26c6da), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.panel-header .form-control {
    background-image: linear-gradient(#279AB3, #279AB3), linear-gradient(#ffffff, #ffffff);
}

.form-group.panel-header.is-focused .form-control {
    background-image: linear-gradient(#279AB3, #279AB3), linear-gradient(#ffffff, #ffffff);
}

.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 10px;
    background-color: #999999;
}

.card .card-content {
    padding: 0px 20px;
}

.btn.btn-menu, .btn.btn-menu:hover, .btn.btn-menu:focus, .btn.btn-menu:active, .btn.btn-menu.active, .btn.btn-menu:active:focus, .btn.btn-menu:active:hover, .btn.btn-menu.active:focus, .btn.btn-menu.active:hover, .open > .btn.btn-menu.dropdown-toggle, .open > .btn.btn-menu.dropdown-toggle:focus, .open > .btn.btn-menu.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-menu, .navbar .navbar-nav > li > a.btn.btn-menu:hover, .navbar .navbar-nav > li > a.btn.btn-menu:focus, .navbar .navbar-nav > li > a.btn.btn-menu:active, .navbar .navbar-nav > li > a.btn.btn-menu.active, .navbar .navbar-nav > li > a.btn.btn-menu:active:focus, .navbar .navbar-nav > li > a.btn.btn-menu:active:hover, .navbar .navbar-nav > li > a.btn.btn-menu.active:focus, .navbar .navbar-nav > li > a.btn.btn-menu.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-menu.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-menu.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-menu.dropdown-toggle:hover {
    background-color: transparent;
}

.btn, .btn.btn-menu, .navbar .navbar-nav > li > a.btn, .navbar .navbar-nav > li > a.btn.btn-menu {
    box-shadow: none;
}

.btn.btn-menu, .navbar .navbar-nav > li > a.btn {
    margin: 0px;
	padding: 10px;
}

.table.tbl-data {
    font-size: 9pt;
}

.table.tbl-data > tbody > tr > td {
    padding: 0px 3px;
    vertical-align: middle;
	border-top: none;
}

.table.tbl-data.table-hover>tbody>tr:hover {
	background-color:#e3f2fd;
}
.table.tbl-data>thead>tr>th {
	vertical-align:bottom;
	border-bottom:2px solid #26c6da;
}

.select-dropdown input{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    width: 100%;
}
/*
.card-header .select-dropdown input{
    border-bottom: 1px solid #ffffff;
}

.select-dropdown input:focus{
	border-bottom: 2px solid #26c6da;
}
*/

.card-header .form-group .form-control::-moz-placeholder {
    color: #ffffff;
}

.select-dropdown a{
	cursor: pointer;
}

.form-group.customSelect{
    margin: 10px;
}

.form-group {
    padding-bottom: 0px;
    margin: 15px 0px 0px 0px;
}

.select-content {
	overflow-y: auto;
	max-height: 300px;
    min-width: 100%;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.main-panel > .content {
    margin-top: 50px;
}

.modal .modal-dialog {
    margin-top: 20px;
}
