.form-login{
	width: 50%;
	margin: 0px auto 50px;
	display: block;
}
.form-loading{
	text-align: center;
	padding:20px 0px 50px;
	display: none;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 5px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,0, 0.2);
  border-right: 1.1em solid rgba(0,0,0, 0.2);
  border-bottom: 1.1em solid rgba(0,0,0, 0.2);
  border-left: 1.1em solid #9c27b0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.login .logo{
    position: relative;
    z-index: 2;
}
.login .content{
    position: relative;
    z-index: 2;
}
.login{background-color:#5c97bd;background: url("../img/cover.jpg") no-repeat center center fixed;background-size:cover;min-height:100%;min-width:100%;}
/* .login{background-color:#5c97bd;background: url("../img/background4.jpg") no-repeat center center fixed;background-size:cover;min-height:100%;min-width:100%;} */
.background-filter:before, .background-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: ""; }
.background-filter::before {
    background: rgba(0, 0, 0, 0.5); }
.background-filter .container {
    z-index: 2;
    position: relative; }

.clear-filter::before {
background: none; }

.purple-filter:after {
background: rgba(101, 47, 142, 0.64);
background: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%); }

.background-filter[filter-color="purple"]:after, .background-filter[filter-color="primary"]:after {
background: rgba(225, 190, 231, 0.56);
/* For browsers that do not support gradients */
/* For Safari 5.1 to 6.0 */
/* For Opera 11.1 to 12.0 */
/* For Firefox 3.6 to 15 */
background: linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
/* Standard syntax */ }

.background-filter[filter-color="blue"]:after, .background-filter[filter-color="info"]:after {
background: rgba(178, 235, 242, 0.56);
/* For browsers that do not support gradients */
/* For Safari 5.1 to 6.0 */
/* For Opera 11.1 to 12.0 */
/* For Firefox 3.6 to 15 */
background: linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
/* Standard syntax */ }

.background-filter[filter-color="green"]:after, .background-filter[filter-color="success"]:after {
background: rgba(165, 214, 167, 0.56);
/* For browsers that do not support gradients */
/* For Safari 5.1 to 6.0 */
/* For Opera 11.1 to 12.0 */
/* For Firefox 3.6 to 15 */
background: linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
/* Standard syntax */ }

.background-filter[filter-color="orange"]:after, .background-filter[filter-color="warning"]:after {
background: rgba(255, 224, 178, 0.56);
/* For browsers that do not support gradients */
/* For Safari 5.1 to 6.0 */
/* For Opera 11.1 to 12.0 */
/* For Firefox 3.6 to 15 */
background: linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
/* Standard syntax */ }

.background-filter[filter-color="red"]:after, .background-filter[filter-color="danger"]:after {
background: rgba(239, 154, 154, 0.56);
/* For browsers that do not support gradients */
/* For Safari 5.1 to 6.0 */
/* For Opera 11.1 to 12.0 */
/* For Firefox 3.6 to 15 */
background: linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
/* Standard syntax */ }

.background-filter[filter-color="rose"]:after {
background: rgba(248, 187, 208, 0.56);
/* For browsers that do not support gradients */
/* For Safari 5.1 to 6.0 */
/* For Opera 11.1 to 12.0 */
/* For Firefox 3.6 to 15 */
background: linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
/* Standard syntax */ }