#pdf-preview {
	margin: 0px auto;
	width: max-content;
	/* height: 30cm; */
	/* overflow-y: scroll; */
}

#pdf-preview .iframe-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #fff;
	text-align: center;
	padding-top: 100px;
}

#pdf-preview .iframe-action {
	text-align: right;
}

.papper {
	box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
	outline: 0;
}

.A4 {
	background: white;
	width: 21cm;
	height: 29.7cm;
	display: block;
	margin: 1cm auto;
	overflow-y: scroll;
	box-sizing: border-box;
	/* Design Drafter */
	font-size: 11pt;
	font-family: "Roboto", -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", sans-serif;
	padding-left: 2.5cm;
	padding-top: 2cm;
	padding-right: 1.5cm;
	padding-bottom: 1.5cm;
}

.A4 .logo {
	width: 2.2cm;
	height: 2cm;
}

.A4 .kop {
	width: max-content;
	height: auto;
	border-bottom: 1px solid #000;
}

.A4 .ttd {
	width: max-content;
	height: auto;
	float: right!important;
}

.A4 .nomor {
	width: max-content;
	height: auto;
	border-top: 1px solid #000;
}

.drafter {
	height: auto;
}

.drafter .editable {
	background-color: #f0f0f0;
}

[contenteditable="true"].single-line {
	white-space: nowrap;
	overflow: hidden;
}

[contenteditable="true"].single-line br {
	display: none;

}

[contenteditable="true"].single-line * {
	display: inline;
	white-space: nowrap;
}

.iframe {
	background: white;
	border: none;
	width: 21cm;
	height: 29.7cm;
	margin: 0;
}

.space-05 {
	line-height: 0.5 !important;
}

.space-1 {
	line-height: 1 !important;
}

.space-15 {
	line-height: 1.5 !important;
}

.space-2 {
	line-height: 2 !important;
}
